/.cache/
/.dap-breakpoints
/.lsp-session-v1
/.org-id-locations
/auto-save-list/
/autosave/
/backup/
/bookmarks
/config.el
/custom.el
/eshell/
/projectile-bookmarks.eld
/recentf
/session.*
/smex-items
/straight/
/tramp
/transient/
